extends layout 

block content
    header#background.backgroundHeader
        .header-content
            .header-content-inner
                h1#homeHeading #{__('Background.Header')}
                hr
                p #{__('Background.Inspiration')}
        