extends layout 

block content
    header#background.backgroundHeader
        .header-content
            .header-content-inner
                h1#homeHeading #{__('Background.Header')}
                hr
<<<<<<< HEAD
                p #{__('Background.Inspiration')}
=======
                div(style='background-color: rgba(1,1,1,0.3); padding-top:20px; padding-bottom:15px; border-radius:25px;')
                    p #{__('Background.Inspiration')}
                    p #{__('Background.Inspiration2')}
>>>>>>> frontPageChange
        