extends layout 

block content
    header#teamHeader
        .header-content
            .header-content-inner
                h1#homeHeading #{__('Team.Header')}
    section#team
        .container
            .row
                .col-lg-12.text-center
                    h3.section-heading #{__('Team.Summary')}
                    hr
        .row
            .col-md-offset-3.col-md-6
                .panel.panel-primary
                    .panel-heading
                        h3.panel-title Javier
                    .panel-body The requested page has been permanently moved to a new location

        .row
            .col-md-offset-3.col-md-6
                .panel.panel-primary
                    .panel-heading
                        h3.panel-title Javier
                    .panel-body The requested page has been permanently moved to a new location.
        .row
            .col-md-offset-3.col-md-6
                .panel.panel-primary
                    .panel-heading
                        h3.panel-title Javier
                    .panel-body The requested page has been permanently moved to a new location.